method.additional.param[groovy:it.defineCode().contains("Pageable")]={name: "page_num",value: "0",desc: "第几页, 从1开始, 默认1",required:false}
method.additional.param[groovy:it.defineCode().contains("Pageable")]={name: "page_size",value: "20",desc: "每页数据条数, 默认20",required:false}
method.additional.param[groovy:it.defineCode().contains("Pageable")]={name: "sort",value: "id,desc",desc: "按属性排序, 格式:属性名[,asc|desc],通常返回值中的一级属性均可用于排序",required:false}

field.ignore=groovy:api.method()=="POST"&&(it.name()=="createdAt"||it.name()=="updatedBy"||it.name()=="updatedAt")
