api.class.parse.before = groovy:```
    var method = api.method();
    logger.info("now api.method== "+method)
    if(method==null){
	    return null
    }
    localStorage.set("apiMethod", method)
```
api.class.parse.after = groovy:```
    logger.info("now localStorage.remove:apiMethod: "+localStorage.get("apiMethod"))
    localStorage.remove("apiMethod")
```
#当前是 POST、PUT 请求，忽略部分参数
field.ignore=groovy:```
    return (it.name()=="createdAt"||it.name()=="updatedAt"||it.name()=="updatedBy"||it.name()=="isDeleted") && localStorage.get("apiMethod") == "POST"
```
field.ignore=groovy:```
    return (it.name()=="createdBy"||it.name()=="createdAt"||it.name()=="updatedAt"||it.name()=="isDeleted") && localStorage.get("apiMethod") == "PUT"
```
